.opear{
    margin-right: 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}

.page-header-right{
    position: absolute;
    right: 15px;
    top: 12px;
}
.offstock{
    color: #d9534f;
}
.onsale{
    color: #5cb85c;
}
.btn-right{
    float: right;
}